body{
    background:#000;
    overflow:hidden;
}
.floatingicon{
    width:32px;
    height:32px;
    bottom:10px;
    opacity:0;
    transition:all 0.5s;
    z-index:100;
    position:fixed;
    border-radius:50%;
    cursor:pointer;
}
.floatingicon:hover{
    background-color:#eee;
}
.sizeicon{
    right:15px;
    background:#fff url('res/settings.png') no-repeat;
    background-position:center center;
}
.exiticon {
    background:#fff url('res/exit.png') no-repeat;
    right: 52px;
    background-position:center center;
}
video:hover+.floatingicon, body:hover .floatingicon{
    opacity:0.8;
}
#main{
    top:calc( (100% - 80%) % 2 );
}


.settings {
    padding:20px;
    background:white;
    border-radius:30px;
    position:fixed;
    width:200px;
    height:50px;
    text-align: center;
    left:calc( 50vw - 120px );
    top:calc( 50vh - 45px);
    display:none;
    transition:all 0.5s;
}



.spacer {
    display:block;
    height:15px;
}
